@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-noto-sans-sc: "Noto Sans SC", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-sc), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-sc), ui-sans-serif, system-ui, sans-serif;
}
